.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px ;
    margin: 10px 10px;
    font-family: "Mulish", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 900;


}

.textarea-custom {
    width: 300px;
    height: 200px;
    background-color: #e7e7e7;
    border-radius: 6px;
    border: none;
    resize: none; /* Para evitar que o usuário redimensione */
    margin-top: 10px;
  }

 .input-name  {
    height: 30px;
    width: 300px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 6px;
}

.submit{
    padding: 10px 30px;
    background-color: #e53939 ;
    border: none;
    border-radius: 6px;
    color: #fff;
    transition: all 1s;
    margin: 30px auto;
    cursor: pointer;
}

.submit:hover{
     
    scale:1.1;
}

.name-input{
    font-size: 1rem;
    margin-top: 10px;
}