#footer{
    background-color: #000;
    min-height:  400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 200px;
    align-content: flex-end;
    
   
}

#container-menu{
    display: flex;
    gap: 40px;
    list-style: none;
}

.item-footer{
    color: #fff;
}

#copy{
    color: #fff;
    margin-left: 200px;
}


@media (max-width: 1280px){

 
    #footer{
        
        min-height: 200px;
    }

}



@media (max-width: 992px){

   
    #footer{
        display: block;
        min-height: 300px;
    }
}
@media (max-width: 768px){


    #footer{
        display: block;
        min-height: 300px;
    }
}