nav{
    display: flex;
    height: 100px;
    background-color: #000;
    align-items: center;
    justify-content: space-around;
}
#logo{
    width: 90px;
}
.container-items-nav{

display: flex;
gap: 30px;
list-style: none;



}

.items-nav{
    font-family: "mulish";
    font-weight: 800;
    color: #fff;
    padding: 10px 10px
}

.items-nav:hover{
    background-color: #e53939;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 6px;
}

.back{
padding: 10px 10px;
border-radius: 6px;
background-color: #e53939;

}
a{
    text-decoration: none;
}